# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [117]:
#identify columns
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [118]:
# normalize row counts
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [119]:
#Identify data type
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [120]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [121]:
#Calculating_Totals
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [122]:
#Unique Schools
Schools = school_data_complete["school_name"].unique()
print(Schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [123]:
#Total number of schools
TotalNumberOfSchools = school_data_complete["school_name"].nunique()
TotalNumberOfSchools

15

In [124]:
#Unique Students
Students = school_data_complete["student_name"].unique()
print(Students)

['Paul Bradley' 'Victor Smith' 'Kevin Rodriguez' ... 'Rebecca Tanner'
 'Desiree Kidd' 'Carolyn Jackson']

In [125]:
#Total number of student
TotalNumberOfStudents = school_data_complete["Student ID"].nunique()
TotalNumberOfStudents

39170

In [126]:
#BudgetSum = school_data_complete["budget"].sum()
BudgetSum0 = school_data_complete["budget"].sum()
BudgetSum0

82932329558

In [127]:
#Gross budget
GrossBudget = school_data_complete.groupby(["school_name"])
GrossBudget.count()

#Budget Sum
BudgetSum = school_data_complete["budget"].sum()
BudgetSum

#SubTotal Budget
SubTotalBudget = BudgetSum / GrossBudget.count()

#Total Budget
TotalBudget = SubTotalBudget["budget"].sum()
#TotalBudget["budget"] = TotalBudget["budget"].astype(float).map("${:,.2f}".format)
TotalBudget

721322067.3761584

In [128]:
##Calculate the average math score 
AverageMath = school_data_complete["math_score"].mean()
AverageMath

78.98537145774827

In [129]:
#Calcuate the average reading score
AverageReading = school_data_complete["reading_score"].mean()
AverageReading

81.87784018381414

In [130]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

OverallAverageScoreMathAndReading = (AverageMath + AverageReading) /2
OverallAverageScoreMathAndReading

80.43160582078121

In [131]:
#Calculate the percentage of students with a passing math score (70 or greater)

Math70orGreaterCount = school_data_complete.loc[(school_data_complete["math_score"]>70)].count()
Math70orGreaterCount.head()

Math70orGreaterPercentage = (Math70orGreaterCount/TotalNumberOfStudents).mean()
Math70orGreaterPercentage

0.7239213683941791

In [132]:
#Calculate the percentage of students with a passing reading score (70 or greater)

Reading70orGreaterCount = school_data_complete.loc[(school_data_complete["reading_score"]>70)].count()
Reading70orGreaterCount.head()

Reading70orGreaterPercentage = (Reading70orGreaterCount/TotalNumberOfStudents).mean()
Reading70orGreaterPercentage

0.8297166198621396

In [135]:
#Create a dataframe to hold the above results

DistrictSummary = pd.DataFrame ({"Total Schools":[TotalNumberOfSchools],\
                                 "Total Students":[TotalNumberOfStudents],\
                                 "Total Budget":[TotalBudget],\
                                 "Avg Math":[AverageMath],\
                                 "Avg Reading":[AverageReading],\
                                 "Overall Avg Score":[OverallAverageScoreMathAndReading],\
                                 "% of Math w/70 or > Score":[Math70orGreaterPercentage],\
                                 "% of Reading w/70 or > Score":[Reading70orGreaterPercentage]
                                 })

DistrictSummary

,Total Schools,Total Students,Total Budget,Avg Math,Avg Reading,Overall Avg Score,% of Math w/70 or > Score,% of Reading w/70 or > Score
0,15,39170,7.213221e+08,78.985371,81.87784,80.431606,0.723921,0.829717

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [2]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [3]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.